body {
    font-family: 'lato',sans-serif;
    background-color: #fff;
    margin: 0;
}

/* header */

.header{
    margin: auto;
    display: flex;
    background-color:#efedfd ;
    box-shadow: 0px 1px 8px rgb(167, 166, 166);
}

.header_logo{
    width: 135px;
    height:auto;
}

.header img{
    padding-left: 10px;
}

.header_butn{
    margin-left:1075px;
    margin-top:25px;
}

.header_butn a{
    text-decoration: none;
    font-size: 18px;
}

.header_butn1{
    margin-right: 5px;
    color: #0065ff;
}

.header_butn1:hover{
    color:#0757cf;
    text-decoration: underline;
}

.header_butn2{
    margin-left: 5px;
    background-color: #0065ff;
    padding:10px 15px;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
}

.header_butn2:hover{
    background-color: #0757cf;
}

/* section_1 */

.section_1{
    margin: auto;
    display: flex;
    margin-top: 45px;
}

.box1a{
    width: 60%;
}

.box1a_1{
    margin-left: 150px;
    margin-top: 100px;
}

.box1a_1 h1{
    font-size:48px;
    margin-bottom: 0px;
}

.box1a_1 p{
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 25px;
}

.box1a_1 input{
    width: 50%;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgb(175, 173, 173);
}

.box1a_1 a{
    margin-left: 10px;
    background-color: #0065ff;
    padding:13px 75px;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: none;  
}

.box1a_1 a:hover{
    background-color: #0757cf;   
}

.box1b{
    width:40%;
}

.box1b img{
    width:80%;
    padding-left: 13%;
}

/* section_2 */

.section_2{
    text-align: center;
    margin-top: 150px;
}

.section_2 h1{
    font-size: 35px;
    margin-bottom: 0px;
}

.section_2 p{
    font-size: 20px;
    line-height: 150%;
}

.section_2 a{
    margin-left: 10px;
    background-color: whitesmoke;
    padding:8px 20px;
    color:#0065ff;
    font-weight:normal;
    font-size: 20px;
    border:1px solid #0065ff;
    border-radius: 5px;
    text-decoration: none;
}

.section_2 a:hover{
    color:whitesmoke;
    background-color: #0065ff;
}

.section_2 img{
    width: 81%;
    padding:0 5%;
    margin-top: 50px;
}

.section_2 .brand{
    width:38%;
    margin-top: 0px;
}

/* section_3 */

.section_3{
    margin-top: 80px;
    margin-left: 150px;
}

.section_3 h1{
    font-size:38px;
    margin-bottom: 0px;
}

.section_3 p{
    font-size: 22px;
    line-height: 150%;
    font-weight:400;
}

/* section_4 */

.section_4{
    margin-top: 60px;
    display: flex;
}

.box4a{
    width: 40%;
}

.box4a img{
    width:85%;
    margin-left: 150px;
    margin-top: 50px;
}

.box4b{
    width: 60%;
    margin-left:130px;
    margin-top: 30px;
}

.box4b h4{
    margin-bottom: 0px;
}

.box4b h1{
    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 0px;
}

.box4b p{
    font-size: 20px;
    line-height: 150%;
    color: grey;
}

.box4b .box4b_1{
    margin-top: 30px;
}

.box4b_1 a{
    margin-left: 10px;
    font-weight:bolder;
    color: black;
    font-size: 23px;
    text-decoration: none;
}

.box4b_1 a:hover{
    text-decoration: underline;
}

/* section_5 */

.section_5{
    margin-top: 100px;
    display: flex;
}

.box5a{
    width: 50%;
    padding-left: 150px;
}

.box5a h4{
    margin-bottom: 0px;
}

.box5a h1{
    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 0px;
}

.box5a p{
    font-size: 20px;
    line-height: 150%;
    color: grey;
}

.box5b{
    width: 50%;
}

.box5b img{
    width:75%;
    margin-left: 0px;
    margin-top: 25px;
    padding-left: 0px;
}

/* section_6 */

.section_6{
    margin-top: 60px;
    display: flex;
}

.box6a{
    width: 40%;
}

.box6a img{
    width:85%;
    margin-left: 150px;
    margin-top: 50px;
}

.box6b{
    width: 60%;
    margin-left:130px;
    margin-top: 30px;
}

.box6b h4{
    margin-bottom: 0px;
}

.box6b h1{
    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 0px;
}

.box6b p{
    font-size: 20px;
    line-height: 150%;
    color: grey;
}

/* section_7 */

.section_7{
    margin-top: 60px;
    display: flex;
}

.box7a{
    width: 50%;
    padding-left: 150px;
}

.box7a h4{
    margin-bottom: 0px;
}

.box7a h1{
    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 0px;
}

.box7a p{
    font-size: 20px;
    line-height: 150%;
    color: grey;
}

.box7b{
    width: 50%;
}

.box7b img{
    width:75%;
    margin-left: 0px;
    margin-top: 25px;
    padding-left: 0px;
}

/* section_8 */

.section_8{
    width: 1100px;
    margin-top: 90px;
    margin-left: 150px;
    margin-bottom:50px;
    padding: 20px 20px 35px;
    column-gap: 50px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: flex;
}

.box8a{
    width: 45%;
    display: flex;
}

.box8b{
    width: 50%;
    display: flex;
}

.box8a_1{
    margin-left: 40px;
}

.box8a_1 h3{
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 25px;
}

.box8a_1 p{
    font-size: 20px;
    line-height: 150%;
}

.box8a_1 a{
    background-color: whitesmoke;
    padding:5px 20px;
    color:#0065ff;
    font-weight:normal;
    font-size: 18px;
    border:1px solid #0065ff;
    border-radius: 5px;
    text-decoration: none; 
}

.box8a_1 a:hover{
    color:whitesmoke;
    background-color: #0065ff;
}

/* section_9 */

.section_9{
    background-color: #e6fcff;
}

.section9{
    width: 1100px;
    display: flex;
    padding-top: 65px;
    padding-bottom: 50px;
    margin-left: 165px;
    border-bottom:5px solid black;
}

.box9a{
    width:30%
}

.box9a img{
    width: 60%;
}

.box9a h4{
    margin-top: 40px;
    margin-bottom: 0px;
}

.box9a h2{
    margin-top: 10px;
}

.box9b{
    width: 70%;
}

.box9b h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box9b p{
    padding-left: 40px;
    font-size: 34px;
    line-height: 150%;
    margin: 0;
}

.box9b h4{
    padding-left: 625px;
    margin-bottom: 0px;
}

.box9b .box9b_1{
    padding-left: 625px;
    margin-top: 10px;
    font-size: 20px;
}

.section_99{
    width: 1100px;
    margin-left: 165px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.icon1{
    color: whitesmoke;
    padding: 8px;
    background-color: black;
    border-radius: 5px;
}

.icon1:hover{
    background-color: rgb(42, 42, 43);
}

.icon2{
    font-size: 10px;
    padding: 12px;
    color: black;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon2:hover{
    background-color: white;
}

.icon3{
    font-size: 10px;
    padding: 12px;
    color: rgb(190, 190, 190);
    border-radius: 5px;
    margin-right: 5px;
}

.icon3:hover{
    background-color: white;
    color: black;
}

/* section_10 */

.section10{
    width: 1100px;
    margin-left: 165px;
    margin-top: 50px;
    padding-bottom: 60px;
    background-color:rgba(24, 112, 212, 0.911);
    text-align: center;
    border-radius: 10px;
}

.section10 h1{
    color: white;
    padding-top: 80px;
    padding-bottom: 30px;
    line-height: 150%;
}

.section10 input{
    width: 350px;
    box-sizing: border-box;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgb(175, 173, 173);
}

.section10 a{
    margin-left: 10px;
    background-color: #00b8d9;
    padding:11px 50px;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: none;  
    font-size: 18px;
}

.section10 a:hover{
    background-color: #079cb6;
}

/* section_11 */

.section_11{
    width:1100px;
    margin-top: 70px;
    margin-left: 165px;
}

.box11a{
    display: flex;
}

.box11a p{
    font-size: 21px;
    padding-right: 30px;
    margin-left: 278px;
}

.box11a img{
    width: 175px;
    padding-right: 10px;
}

/* section_12 */

.section_12{
    width: 1100px;
    margin-top: 85px;
    margin-left: 165px;
}

select{
    width: 150px;
    margin-left: 500px;
    margin-bottom: 30px;
    padding: 10px 5px;
    font-size: 15px;
    color: rgb(179, 176, 176);
    border-color: rgb(211, 210, 210);
}

.box12a{
    text-align: center;
    margin-bottom: 30px;
}

.box12a a{
    padding-left: 15px;
    color: rgb(161, 161, 161);
}

.box12a a:hover{
    color: black;
}

.section_12 img{
    width: 140px;
    margin-left: 510px;
}

.section_12 p{
    margin-left: 450px;
    font-size: 16px;
    margin-bottom: 60px;
}
